<div class="main">
    <div class="container">
      
      <%= form_for @new_post do |n| %>
        <%= n.text_field :comment %>
        <%= n.submit %>
      <% end %>

      <ul class="comments">
        <li>Have you felt it?</li>
        <li>There has been an awakening.</li>
      </ul>
    </div>
  </div>