<div class="main">
    <div class="container">
      
      <%= form_for @new_post do |n| %>
        <%= n.text_field :comment %>
        <%= n.submit %>
      <% end %>

      <ul class="comments">
        <% @all_posts.each do |x| %>
          <li><%= x.comment %></li>
        <% end %>
      </ul>
    </div>
  </div>